.container {
    width: 100%;
    height: 100vh;

    background-image: url("../../assets/Filosofia/backgroundFilosofia.jpg");
    background-size: cover;
    background-position:center;

    display:flex;
    flex-direction: column;

    
}