.container {
    display:flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 85vh;   
}


.list {
    display: flex;
    width: 85%;
    height: 90%;
    list-style: none;

    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    border-radius: 5px;
    border: 3px solid black;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.8);
}

.listItem {
    height: 150px;
    width: 100px;

    transform-style: preserve-3d;

    border-radius: 5px;
    border: 5px solid white;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.8);

    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.9);

    background-image: url("../../assets/Historia/cardHistoria.jpg");
    background-position: center;

    cursor: pointer;
}

.listItem:hover {
    border:5px solid black;
}

.listItemRespondido {
    height: 150px;
    width: 100px;

    transform-style: preserve-3d;

    border-radius: 5px;
    border: 5px solid white;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.8);

    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.9);

    background-image: url("../../assets/cardRespondido.png");
    background-position: center;

}


.motionDiv {
    height: 80%;
    width: 90%;
    background-color: ghostwhite;

    display:flex;
    flex-direction: column;
    position: absolute;

}

.mainMotionDiv {
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: 30px;

    border: 5px solid black;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.8);

}

.containerTituloPergunta {
    height: 20%;
    width:100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid gray;

    box-sizing: border-box;


}

.tituloPergunta {
    height: 100%;
    width:90%;

    display:flex;
    align-items: center;
    justify-content: center;

    padding: 0 2% 0 2%;

    line-break: anywhere;
    box-sizing: border-box;
}

.btnBackToHistory {
    height: 100%;
    width: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    
}

.containerOptions {
    width:100%;
    height: 80%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;


    flex-wrap: wrap;

}

.options {
    width:45%;
    height: 30%;

    display: flex;
    align-items: center;
    justify-content: center;


    background-color: turquoise;

    border:1px solid black;

    cursor:pointer;

    border-radius: 2rem;
    
}

.options:hover {
    border: 5px solid green;
}

.optionsText {

    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    
}

