.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    bottom: 100px;
    right: 100px;
    animation-duration: 2s;
    animation-name: queda;
    padding: 10px;
    font-size: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid greenyellow;
}

@keyframes queda {
    from {
        bottom: 1000px;
    }
    to {
        bottom: 100px;
    }
}


@media (width < 550px) {
    .container {
        width: 150px;
        bottom: 50px;
        right: 50px;
        animation-duration: 2s;
        animation-name: queda;
    }

    @keyframes queda {
        from {
        bottom: 1000px;
    }
        to {
            bottom: 50px;
        }
    }
}