.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    height: 100px;
    background-color: gainsboro;
}

.titles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}