.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-color: #f0f0f0;    
    flex-wrap: wrap;
    text-align: center;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}