.container {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 50%;

    height: 10vh;
    width: 100%;
    background-color: inherit;
}

.fonte {
    color:#F8F8FF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.9);

}

.btnBackToMain {
    height: 50%;
    width: 8%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
